body{
    font-family: 'Inter',sans-serif;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: white;

}
.brand-pa{display: flex;flex-direction: row;gap:15px;}
.div-span{
  position: relative;
  height: 30px;
  width: 10px;
  margin-top: 5px;
}

.div-span i{
  position: absolute;
  font-size: 22px;
  color: #000;
  left: 0;
}

.div-span .down{
  top: 0;
}

.div-span .up{
  bottom: 0;
}
.brand-pa p{font-size: 14px;font-weight: 600;margin-top: 10px;}
.navbar{background-color: white !important;box-shadow: 0 4px 0 rgba(0,0,0,0.05);padding: 0 20px;}
.collapse{display: flex;justify-content:flex-end;align-items: center;}
.navbar-nav{display: flex;gap:50px;}
.nav-link{color:black;font-weight: 600;}
.nav-link.active{text-decoration: underline;}
.donate-btn{border: none;border-radius: 5px;background-color: #1F3D8A;color: white;height: 30px;font-weight: 600;width:150px}
.home-img{width:100%;display: flex;justify-content: center;align-items: center;background-image: url(../images/Depth\ 6\,\ Frame\ 5.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;height: 600px;flex-direction: column;color: white;margin-top: 20px;border-radius: 10px;box-shadow: 0 4px 0 rgba(0,0,0,0.1);}
.home-img h2{font-weight: bold;font-size: 32px;}
.home-imgcard{display: flex;gap:20px;justify-content: center;align-items: center;}
.home-btn{background-color: #1F3D8A;border: none;color: white;font-weight: 600;height: 30px;border: none;width: 120px;border-radius: 5px;font-size: 17px;}
.home-btn1{border: none;font-weight: bold;height: 30px;width: 190px;border-radius: 5px;}
.home-card{margin-top: 50px;display: flex;justify-content: center;align-items: center;flex-direction: column;padding:0 50px;}
.home-card p{text-align: center;padding: 0 50px;margin-top: 20px;}
.home-card h5{font-weight: bold;font-size: 17px;}
.home-h5{text-align: center;margin: 30px 0;font-size: 17px;font-weight: bold;}
.home-card1{width:280px;margin-bottom: 50px !important;margin: 10px;}
.home-card1 img{width:280px;box-shadow: 0 3px 0 rgba(0,0,0,0.2);border-radius: 5px;margin-bottom: 15px;}
.home-card1 h6{text-shadow: 4px 4px 2px rgba(0,0,0,0.3) ;}
.home-card1 p{text-shadow: 4px 4px 2px rgba(0,0,0,0.3);font-size: 13px;}
.home-card2{display: flex;justify-content: center;align-items: center;gap:20px;margin-bottom: 50px;}
.home-btn2{border: none;border-radius: 5px;background-color: #1F3D8A;color: white;height: 30px;font-weight: 600;width:150px}
.home-btn3{border: none;border-radius:5px;height: 30px;font-weight:600;width:150px;}
.home-div{width:90%;height: 80px;background-color: rgb(239, 238, 238);border-radius: 5px;border: none;padding: 20px;margin:20px;line-height: 0.5;font-size: 15px;box-shadow: 0 4px 0 rgba(0,0,0,0.2);}
.count-pa{font-weight: bold;font-size: 18px;}
.home-test{width: 90%;border: 1px solid black;border-radius: 5px;box-shadow: 0 4px 0 rgba(0,0,0,0.2);padding: 10px;margin: 50px 0;}
.home-test1{display: flex;gap:10px;}
.home-test1 p{margin-top: 10px;} 
.home-test1 img{width:60px;height: 60px;}
.name-span{font-weight: 600;font-size: 18px !important;}
.name-test span{font-size: 14px;}
.home-test2 p{font-size: 14px;}
.like-pa{display: flex;gap:10px;font-size: 16px !important;}
footer{background-color: rgb(217, 222, 226);color: rgb(125, 132, 134);padding:30px 20px;}
.foot-btn{border: none;background-color: rgb(217, 222, 226);}
.foot-btn a{color: rgb(125, 132, 134);text-decoration: none;font-size: 14px;}
.foot-card{display: flex;justify-content: space-between;}
.foot-card1{display: flex;justify-content: center;align-items: center;gap:15px;margin: 20px 0;}
.foot-card1 a{color: transparent;text-decoration: none;-webkit-text-stroke: 1px rgb(125, 132, 134);}
.foot-card2{display: flex;justify-content: center;font-size: 12px;}


.about-h4{text-align: center;margin-top: 50px;margin-bottom: 30px;font-weight: bold;}
.about-h5{text-align: center;font-weight: bold;margin-bottom: 30px;}
.about-card{padding: 0 100px;text-align: justify;margin-bottom: 20px;}
.about-card1{margin-bottom: 50px;width:100%}
.about-card2{padding: 0 100px;text-align: center;margin-bottom: 30px;}
.about-card3{width:80%;border: 1px solid lightgray;box-shadow: 0 4px 0 rgba(0,0,0,0.1);border-radius: 5px;padding: 10px 15px;font-size: 14px;margin-bottom: 50px;margin-top: 20px;margin-left: 20px;}
.about-card3 h6{font-weight: 600;font-size: 15px;margin-top: 5px;}
.about-card4{display: flex;flex-direction: column;justify-content: center;align-items: center;width: 150px;margin: 50px;margin-top: 30px !important;}
.about-card4 img{width:120px;height: 120px;margin-bottom: 10px;}
.about-card4 p{text-align: center;line-height: 1.5;margin-bottom: 0;font-size: 12px;color: rgb(136, 134, 134);text-shadow: 4px 4px 4px rgba(0,0,0,0.2);}
.name-about{color: black !important;font-size: 16px !important;font-weight: 600;}

.cause-h3{margin-top: 50px;font-weight: bold;padding: 0 20px;}
.cause-pa{font-size: 16px;color: rgb(125, 124, 124);padding: 0 20px;margin-bottom: 50px;}
.cause-card{display: flex;box-shadow: 0 4px 10px rgba(0,0,0,0.1);margin-bottom: 50px;gap:50px;height: 300px;}
.cause-card img{height: 100%;width:50%;border-radius: 5px;}
.cause-card1{padding: 50px 0;}
.cause-card1 h6{font-size: 18px;font-weight: bold;margin-bottom: 20px;}
.cause-card1 p{font-size: 14px;padding-right: 250px;margin-bottom: 0 !important;color: rgb(125, 124, 124);}
.cause-btn{margin-left: 60%;margin-top: 5px;background-color: #1F3D8A;border: none;border-radius: 5px;height: 35px;color: white;width:200px;font-weight: 600;}


.thank-card{width:100%;margin-top: 50px;}
.thank-card img{width:100%;object-fit: contain;height: 500px;margin-bottom: 50px;}
.thank-card1{display: flex;justify-content: center;align-items: center;flex-direction: column;margin-bottom: 30px;}
.thank-card1 h3{font-weight: bold;margin-bottom: 0;}
.thank-card1 i{color: rgb(240, 80, 80);}  
.than-card1 p{font-size: 12px;font-weight: 600;}


.thank-card2 h5{font-weight: bold;}
.thank-card2{margin-bottom: 50px;}
.thank-card3{width: 350px;margin-bottom: 50px;}
.thank-card3 img{width:100%;margin-bottom: 15px;box-shadow: 0 4px 0 rgba(0,0,0,0.1);border-radius: 5px;}
.thank-card4 h6{font-weight: bold;margin-bottom: 0;text-shadow: 2px 4px 2px rgba(0,0,0,0.2);}
.thank-card4 p{color: green;font-size: 12px;text-shadow: 2px 4px 2px rgba(0,0,0,0.2);}
.thank-h5{font-weight: bold;margin-bottom: 20px;}
.thank-card5{display: flex;justify-content: center;align-items: center;gap:20px;margin-bottom: 30px;}
.thank-btn{background-color: green;border: none;border-radius: 5px;font-size: 14px;height: 35px;width:120px;font-weight: bold;}
.thank-btn1{background-color: rgb(195, 209, 197);border: none;border-radius: 5px;height: 35px;width: 150px;}
.thank-btn1 a{font-size: 14px;text-decoration: none;color: black;font-weight: bold;}
.thank-pa{font-weight: 600;text-align: center;margin-bottom: 20px;}
.thank-card6 h5{font-weight: bold;}
.one-div{display: flex;border: none;box-shadow: 0 4px 0 rgba(0,0,0,0.1);background-color: rgb(238, 245, 239);justify-content: space-between;padding: 0 10px;width: 90%;height: 35px;margin-bottom: 30px;}
.one-div p{margin-top: 5px;font-weight: 600;}
#c_email{font-size: 25px;}
.thank-btn2{background-color: rgb(195, 209, 197);border: none;border-radius: 5px;height: 35px;width: 220px;font-weight: 600;margin-left: 40%;}
.thank-pa1{text-align: center;margin-top: 20px;font-size: 12px;color: green;}

.donate-h3{margin-top: 50px;margin-bottom: 30px;font-weight: bold;}
.donate-pa{margin-bottom: 30px;}
.donate-card h6{font-weight: bold;margin-bottom: 20px;}
.donate-form{display: flex;flex-direction: column;margin-bottom: 50px;}
.donate-form input{width: 50%;border: none;border-radius: 5px;box-shadow: 0 4px 4px rgba(0,0,0,0.1);margin-bottom: 20px;height: 35px;padding: 0 10px;}
.donate-form input::placeholder{font-size: 12px;}
.donate-h6{font-weight: bold;margin-bottom: 30px;}
.donate-card1{display: grid;grid-template-columns: repeat(2, 1fr);gap:15px;width:20%;margin-bottom: 30px;}
.donate-amt{width:80px;border: none;border-radius: 10px;font-size: 14px;font-weight: bold;height: 35px;box-shadow: 0 3px 0 rgba(0,0,0,0.1);}
.donate-card2{display: flex;justify-content: space-between;margin-bottom: 50px;}
.donate-card2 div{display: flex;flex-direction: column;gap:15px}
.donate-card2 div input{height: 35px;border: none;border-radius: 10px;box-shadow: 0 4px 4px rgba(0,0,0,0.2);padding: 0 10px;}
.donate-card2 div select{height: 35px;border: none;border-radius: 10px;box-shadow: 0 4px 4px rgba(0,0,0,0.2);padding: 0 10px;}
.donate-card3{margin-top: 50px;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.donate-card3 p{margin-top:0 !important;font-size: 14px;color: rgb(163, 161, 161);}

.vol-card{height: 700px;background-image: url(../images/Depth\ 4\,\ Frame\ 0.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;margin-top: 30px;border-radius: 25px;display: flex;justify-content: center;align-items: center;flex-direction: column;color:white;margin-bottom: 50px;}
.vol-card h3{font-weight: bold;}
.vol-card p{font-size: 12px;}
.vol-btn{width:150px;border: none;border-radius: 5px;height: 30px;font-size: 13px;background-color: #1F3D8A;color: white;font-weight: bold;}
.vol-card1 h5{font-weight: bold;margin-bottom: 10px;}
.vol-card1 p{margin-bottom: 50px;}
.vol-card1 img{border-radius: 10px;width: 100%;margin-bottom: 50px;}
.vol-card2 h5{font-weight: bold;margin-bottom: 20px;}
.vol-card3{display: flex;justify-content: space-between;margin-bottom: 30px;}
.vol-p1{color: #1F3D8A;border: 1px solid #1F3D8A;height: 70px;width:200px;padding: 10px;border-radius: 10px;font-size: 14px;display: flex;gap:5px;font-weight: bold;justify-content: center;align-items: center;}
.vol-p2{color: green;border: 1px solid green;height: 70px;width:200px;padding: 10px;border-radius: 10px;font-size: 14px;display: flex;gap:5px;font-weight: bold;justify-content: center;align-items: center;}
.vol-p3{color: orange;border: 1px solid orange;height: 70px;width:200px;padding: 10px;border-radius: 10px;font-size: 14px;display: flex;gap:5px;font-weight: bold;justify-content: center;align-items: center;}
.vol-p4{color: purple;border: 1px solid purple;height: 70px;width:200px;padding: 10px;border-radius: 10px;font-size: 14px;display: flex;gap:5px;font-weight: bold;justify-content: center;align-items: center;}
.vol-p5{color: rgb(6, 179, 248);border: 1px solid rgb(6, 179, 248);height: 70px;width:200px;padding: 10px;border-radius: 10px;font-size: 14px;display: flex;gap:5px;font-weight: bold;justify-content: center;align-items: center;}
.vol-card4 h5{font-weight: bold;margin-bottom: 30px;}
.vol-card4 form{display: flex;flex-direction: column;}
.vol-card4 form input{height: 35px;border: none;background-color: rgb(233, 231, 231);border-radius: 10px;margin-bottom: 15px;padding: 0 10px;width: 70%;}
.vol-card4 form select{height: 35px;border: none;background-color: rgb(233, 231, 231);border-radius: 10px;margin-bottom: 15px;padding: 0 10px;width: 70%;}
.vol-btn1{width:200px;height: 35px;border: none;background-color: #1F3D8A;color: white;border-radius: 5px;font-weight: 600;margin-left: 40%;margin-top: 40px;}
.vol-card4 form p{text-align: center;font-size: 14px;color: green;margin-top: 10px;margin-bottom: 50px;}

.contact-card{margin-top: 50px;margin-bottom: 30px;}
.contact-card h5{text-align: center;font-weight: bold;margin-bottom: 35px;}
.contact-card1{display: flex;justify-content: center;gap:10px}
.contact-card1 p{border: none;width:230px;height:30px;box-shadow: 0 4px 20px rgba(0,0,0,0.1);padding-left: 5px;}
.contact-card2 img{width:100%;border-radius: 10px;object-fit: cover;margin-bottom: 50px;}
.contact-card3 h5{font-weight: bold;}
.contact-card3{margin-left: 10px;}
.contact-card3 p{margin-bottom: 15px;}
.contact-card4{display: flex;gap:15px;margin-bottom: 50px;margin-left: 10px;}
.contact-p1{border: 1px solid green;color: green;height: 35px;width: 220px;border-radius: 5px;display: flex;justify-content: center;align-items: center;font-weight: bold;box-shadow: 0 4px 3px rgba(0,0,0,0.1);gap:5px}
.contact-p2{border: 1px solid rgb(5, 175, 248);color: rgb(5, 175, 248);height: 35px;width: 220px;border-radius: 5px;display: flex;justify-content: center;align-items: center;font-weight: bold;box-shadow: 0 4px 3px rgba(0,0,0,0.1);gap:5px}
.contact-p3{border: 1px solid red;color: red;height: 35px;width: 220px;border-radius: 5px;display: flex;justify-content: center;align-items: center;font-weight: bold;box-shadow: 0 4px 3px rgba(0,0,0,0.1);gap: 5px;}



@media (max-width:730px){.cause-card{flex-direction: column;height: auto;}.cause-card img{width:100%}.cause-card1 p{width: 100%;padding-right: 10px;}.cause-card1{padding: 10px;}.vol-card3{flex-direction: column;}.contact-card1{flex-direction: column;margin-left: 10px;}.contact-card4{flex-direction: column;margin-left: 10px;}.navbar-nav{gap:10px}  }
@media (min-width:731px) and (max-width:1024px){.cause-card{height: auto !important;gap:20px} .cause-card1 p{padding-right: 10px !important}.cause-btn{margin-left: 30px;}.vol-card3{flex-wrap: wrap;}.navbar-nav{gap:10px}}





